body{
    margin: 0;
    font-family: 'Fuzzy Bubbles', cursive;
    -webkit-flow-smoothing: antialiased;
}

code{
    font-family: 'Fuzzy Bubbles', cursive;
}

.app{
    padding: 30px;
    height: 100vh;
}

.todo-list{
    background: #e8e8e8;
    border-radius: 4px;
    padding: 5px;
    max-width: 100ch;
}

.todo{
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    padding: 3px 10px;
    font-size: 24px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 17px;
    font-family: 'Fuzzy Bubbles', cursive;
}

.root {
    align-content: center;
    max-width: fit-content;
}

.indications {
    text-align: center;
    color: #505059;
}